span{background-color: rgb(231, 139, 139);}
a{background-color: rgb(228, 75, 75);}
strong{background-color: red;}
em{background-color: rgb(236, 84, 84);}
input{ background-color: rgb(235, 52, 52); }
label{background-color: rgb(241, 95, 102);}

p{background-color: rgba(63, 119, 223, 0.877);}
h1{background-color: rgb(0, 132, 255);}
div{background-color: aquamarine;}
aside{background-color: aqua;}